{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pipeline de Sucesso</title>
    <!-- O Flask usa o {{ url_for}} para achar arquivos na pasta static -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class="container">
        <div class="glow-box">
            <h1 class="glitch" data-text="Deploy Concluído!">Deploy Concluído!</h1>
            <span id="typewriter" class="status-text typewriter"></span>
            <div class="badges">
                <span class="badge azure">Azure VM</span>
                <span class="badge docker">Docker</span>
                <span class="badge github">GitHub Actions</span>
                <span class="badge caddy">Caddy SSL</span>
            </div>
            <button id="action-btn" class="cyber-btn">Testar Conexão</button>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>